@media (max-width: 1800px) {
  .alreadyHelped__slider-item__name {
    color: #53AF69;
  }
}
@media (max-width: 1570px) {
  .wheelchair__BG.top {
    top: -600px;
  }
}
@media (max-width: 1450px) {
  .wheelchair__BG.top {
    top: -400px;
  }
}
@media (max-width: 1330px) {
  .happyChildren__BG {
    top: -200px;
  }
  .alreadyHelped__BG {
    top: -60px;
  }
}
@media (max-width: 1240px) {
  .wheelchair__BG.top {
    top: -250px;
  }
}
@media (max-width: 1040px) {
  .wheelchair__title {
    max-width: 405px;
  }
  .wheelchair__BG.top {
    top: -150px;
  }
}
@media (max-width: 1200px) {
  .header {
    margin-bottom: 100px;
    &__contacts {
      display: none;
    }
    &__btn {
      display: none;
    }
    &__logo {
      width: 240px;
      height: 245px;
      margin-top: -70px;
      p {
        display: none;
      }
    }
  }
  .main__header {
    &-title {
      font-size: 40px;
      margin-left: 0;
    }
    &-subtitle {
      font-size: 20px;
      margin-left: 0;
    }
    &-range,
    &-btn {
      margin-left: 0;
    }
  }
  .wheelchair {
    &__child {
      margin-right: 20px;
      &:nth-child(1) {
        img {
          margin-left: 20px;
        }
      }
      &:nth-child(2) {
        .wheelchair__child-text {
          margin-left: 40px;
        }
      }
      &:nth-child(3) {
        img {
          margin-left: 20px;
        }
      }
      &:nth-child(4) {
        .wheelchair__child-text {
          margin-left: 40px;
        }
      }
    }
  }
  .aboutUs {
    &__title,
    &__subtitle {
      font-size: 30px;
    }
    &__secondTitle {
      font-size: 25px;
    }
    &__inner {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .btn {
    a {
      font-size: 16px;
    }
  }
  .footer__contacts-title {
    font-size: 25px;
  }
  .footer__contacts-tel a,
  .footer__contacts-mail a {
    font-size: 20px;
  }
  .footer__contacts-adress {
    font-size: 16px;
  }
  .title {
    font-size: 36px;
  }
}
@media (max-width: 1120px) {
  .happyChildren__title {
    font-size: 33px;
    line-height: 41px;
  }
}
@media (max-width: 1108px) {
  .help__card-text {
    min-height: 300px;
  }
  .help__card-mainWrapper {
    padding: 130px 22px 20px 22px;
  }
  .help__card img {
    width: calc(100% - 44px);
    margin: 0 auto;
  }
}
@media (max-width: 1090px) {
  .btn a {
    font-size: 14px;
  }
  .thanks__btn a {
    font-size: 18px;
  }
  .happyChildren__title {
    span {
      color: #fff;
    }
  }
}
@media (max-width: 1091px) {
  .aboutUs__wrapper.orange {
    margin-top: 60px;
  }
}
@media (max-width: 1090px) {
  .happyChildren__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .happyChildren__photo {
    order: 2;
    margin-top: 70px;
  }
}
@media (max-width: 991px) {
  .wheelchair__child-text {
    max-width: 360px;
  }
  .title {
    font-size: 28px;
  }
  .wheelchair__title {
    max-width: 315px;
  }
  .wheelchair__child-text {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .alreadyHelped__BG {
    top: 130px;
  }
  .footer__inner {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer__form {
    margin: 0 auto;
  }
  .footer__contacts {
    margin: 0 auto;
    margin-top: 55px;
    max-width: 100%;
    text-align: center;
    &-tel {
      max-width: 200px;
      margin: 0 auto;
      margin-bottom: 28px;
    }
  }
  .wheelchair__child {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    margin-right: 0;
    &:nth-child(1),
    &:nth-child(2) {
      .wheelchair__child-text {
        color: #438DFE;
      }
    }
    &-img {
      margin-bottom: 62px;
    }
    &-btn {
      a {
        font-size: 16px;
      }
    }
  }
  .wheelchair__child:nth-child(even) {
    flex-direction: column-reverse;
  }
  .wheelchair__child:nth-child(1) img,
  .wheelchair__child:nth-child(2) .wheelchair__child-text,
  .wheelchair__child:nth-child(3) img,
  .wheelchair__child:nth-child(4) .wheelchair__child-text {
    margin-left: 0;
  }
}
@media (max-width: 950px) {
  .help__card-btn {
    max-width: 200px;
    a {
      padding: 5px 12px;
      font-size: 16px;
      span {
        width: 31px;
        height: 31px;
        svg {
          width: 17px;
          height: 14px;
        }
      }
    }
  }
  .help__card .orange a p,
  .help__card .blue a p {
    max-width: 125px;
  }
}
@media (max-width: 850px) {
  .alreadyHelped__title {
    padding-right: 250px;
    font-size: 36px;
  }
}
@media (max-width: 780px) {
  .wheelchair__BG.top {
    top: -100px;
  }
}
@media (max-width: 774px) {
  .help__card-inner {
    flex-wrap: wrap;
  }
  .help__card + .help__card {
    margin-left: 0;
    margin-top: 77px;
  }
}
@media (max-width: 737px) {
  .aboutUs__wrapper {
    margin-top: 60px;
    &:first-child {
      margin-top: 0;
    }
  }
}
@media (max-width: 705px) {
  .alreadyHelped__slider .slick-arrow {
    top: -206px;
  }
}
@media (max-width: 664px) {
  .wheelchair__BG.top {
    top: 0;
  }
}
@media (max-width: 580px) {
  .wheelchair__BG.top {
    top: -150px;
  }
  .main__header {
    padding-bottom: 191px;
    &-title {
      font-size: 24px;
    }
    &-subtitle {
      font-size: 14px;
      max-width: 221px;
    }
    &-range {
      &__title {
        font-size: 14px;
        margin-bottom: 33px;
      }
    }
    &-btn {
      margin-left: auto;
      margin-top: 32px;
    }
  }
  .title {
    font-size: 24px !important;
    line-height: 125%;
  }
  .help {
    &__title {
      align-items: center;
      margin-bottom: 38px;
      span {
        width: 38px;
        height: 38px;
        svg {
          width: 20px;
          height: 17px;
        }
      }
    }
  }
  .wheelchair {
    padding-top: 155px;
  }
  .wheelchair__mainTitle {
    margin-top: 147px;
    font-size: 20px;
  }
  .wheelchair__child:nth-child(4) .wheelchair__child-btn {
    max-width: 289px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .happyChildren {
    padding-top: 152px;
    padding-bottom: 82px;
    &__title {
      font-size: 20px;
      span {
        color: #fff;
      }
    }
    &__text {
      font-size: 14px;
      margin-bottom: 41px;
    }
    &__photo {
      img {
        width: calc(50% - 5px);
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }
  .pay {
    &__title {
      font-size: 24px;
      p {
        width: 164px;
      }
      span {
        width: 65px;
        height: 65px;
        svg {
          width: 34px;
          height: 29px;
        }
      }
    }
  }
  .thanks__text {
    margin-top: 38px;
    margin-bottom: 48px;
  }
  .alreadyHelped {
    &__title {
      font-size: 20px;
      line-height: 160%;
      max-width: 182px;
      padding-right: 0;
    }
  }
  .alreadyHelped__slider .slick-arrow {
    top: -178px;
  }
  .footer__social {
    margin-top: 70px;
    a img {
      width: 44px;
      height: 44px;
    }
  }
  .footer__secondTitle {
    margin-top: 217px;
  }
  .header__logo {
    width: 112px;
    height: 115px;
    margin-top: -46px;
    img {
      width: 65px;
      height: 57px;
    }
  }
  .help__card {
    &-name {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 20px;
    }
    &-diagnosis {
      font-size: 16px;
      line-height: 20px;
    }
    &-need {
      font-size: 13px;
      line-height: 16px;
    }
    &-text {
      font-size: 13px;
      line-height: 16px;
      min-height: 140px;
    }
    &-mainWrapper {
      min-height: auto;
    }
  }
}
@media (max-width: 600px) {
  .alreadyHelped__BG {
    top: 250px;
  }
}
@media (max-width: 480px) {
  .wheelchair__BG.top {
    top: -90px;
  }
}
@media (max-width: 430px) {
  .wheelchair__title {
    max-width: 100%;
  }
  .title {
    font-size: 20px !important;
  }
}
@media (max-width: 370px) {
  .wheelchair__BG.top {
    top: -60px;
  }
}
@media (max-width: 350px) {
  .wheelchair__BG.top {
    top: -40px;
  }
}